@tailwind base;
@tailwind components;
@tailwind utilities;


.ahh{
    background-color: blueviolet;
  }
  
  .w-uu{
    width:30%;
  
  }
  
  .side {
      position : fixed;
      top: 0 ;
      left: 0 ;
       bottom: 0 ;
  }
  
  .fit{
      width: 100%;
      height: 100%;
  }
  .displayed{
      width: 20%;
      
  }
  
  
  .loader {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    margin:15px auto;
    position: relative;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
  }

  .font-size{
    font-size:14px;
  }
  
  @keyframes animloader {
    0% {
      box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
    }
    25% {
      box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 2px;
    }
    50% {
      box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 2px,  -38px 0 0 -2px;
    }
    75% {
      box-shadow: 14px 0 0 2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
    }
    100% {
      box-shadow: 14px 0 0 -2px,  38px 0 0 2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
    }
  }